body {
  background-image: url(../assets/avatar2.jpg);
  background-size: cover;
}
.heder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 2px solid black;
}
.heder-1 {
  background-image: url(../assets/avatar.png);
  width: 33px;
  height: 33px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}
.heder-2 {
  font-size: 25px;
  font-family: "Apple SD Gothic Neo";
  color: rgb(198, 36, 49);
}

.main {
  color: white;
  margin-top: 300px;
}
.main-1 {
  font-size: 30px;
}
.main-2 {
  font-size: 30px;
}
.main-3 {
  font-size: 40px;
  color: #2c2c54;
}

.mainleft1-1 {
  font-size: 26px;
  font-family: Arial;
}
.mainleft2 {
  background-image: url(../assets/pinterest.png);
  width: 136px;
  height: 50px;
  border-radius: 15px;
  background-size: cover;
  cursor: pointer;
}
