body {
  background-image: url(../assets/avatar2.jpg);
  background-size: cover;
}
.heder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid black;
}
.heder-1 {
  background-image: url(../assets/avatar.png);
  width: 33px;
  height: 33px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  position: relative absolute;
}
.heder-2 {
  font-size: 25px;
}

.main {
  color: white;
  margin-top: 300px;
}
.main-1 {
  font-size: 30px;
}
.main-2 {
  font-size: 30px;
}
.main-3 {
  font-size: 40px;
  color: #2c2c54;
}
.mainleft1 {
  color: black;

  margin: 24px, 0px, 0px;
  padding: 16px, 32px;
}
.mainleft1 input {
  background-color: rgba(20, 20, 20, 0.3);
  width: 120px;
  height: 25px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #0b0b0b;
  margin: 5px;
  cursor: pointer;
}

.mainleft1 input:hover {
  background-color: rgba(143, 141, 141, 0.3);
  color: #0b0b0b;
}

.mainleft2 {
  color: black;
  padding: 20px, 20px;
}
.mainleft2 input {
  background-color: rgba(20, 20, 20, 0.3);
  width: 120px;
  height: 25px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #0b0b0b;
  margin: 5px;
  cursor: pointer;
}
.mainleft2 input:hover {
  color: black;
  padding: 20px, 20px;
}

.fab {
  font-size: 22px;
}
