<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinter</title>
    <link rel="stylesheet" href="../css/style.css" />

  </head>
  <body>
    <div class="heder">
      <a href="file:///Users/mac/Documents/ouh/views/k01.html">
        <div class="heder-1"></div>
      </a>
      <div class="heder-2">Pinterest</div>
    </div>
    <div class="main">
      <div class="main-1">
        요리법, 집 꾸미기 아이디어,
        
      </div>
      <div class="main-2">
        영감을 주는 스타일 등 시도해 볼 만한
      </div>
      <div class="main-3">아이디어를 찾아서 저장하세요.</div>
    </div>
    <div class="mainleft">

      <div class="mainleft1">
        <a class="mainleft1-1" href="https://play.google.com/store/apps/details?id=com.pinterest&hl=ko">
          <img src="http://leafsoftware.cafe24.com/ajoa/assets/images/MM00/btn-top-google.png" ></a>
        
      <a class="mainleft1-1" href="https://apps.apple.com/us/app/pinterest/id429047995">
      <img src="http://leafsoftware.cafe24.com/ajoa/assets/images/MM00/btn-top-apple.png"></a>
      </div>

      <a href="https://www.pinterest.ca/">
      <div class="mainleft2">
       
        
      </div>
    </a>
      
    </div>
    
    </div>
  </body>
</html>


