<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pinter</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="heder">
      <div class="heder-1"></div>
      <div class="heder-2">interest</div>
    </div>
    <div class="main">
      <div class="main-1">
        요리법, 집 꾸미기 아이디어,
      </div>
      <div class="main-2">
        영감을 주는 스타일 등 시도해 볼 만한
      </div>
      <div class="main-3">아이디어를 찾아서 저장하세요.</div>
    </div>
    <div class="mainleft">
      <div class="mainleft1">
        <input type="button" value="Google Play">
      <input type="button" value="App Store">
      </div>
      <div class="mainleft2">
        <input class="mainleft1-1" type="button" value="Pinterest가기">
      </div>
    </div>
    
    </div>
  </body>
</html>


